<div class="time">
    <time> {{ start }} </time>
</div>
<div class="availability text-center {{ availability }}">
    <div>{{ open }}</div>
    <div class="available-text">Available</div>
</div>
<div class="experience text-center"></div>
<div class="price"></div>
<div class="misc">21+</div>