<td class="time">{{ start }}</td>
<td class="availability">
    <div>{{ open }}</div>
    <div class="available-text">Available</div>
</td>
<td class="experience">{{ title }}</td>
<td class="price"></td>
<td class="misc">21+</td>