<td class="time">
    <time> {{ start }} </time>
</td>
<td class="availability text-center {{ availability }}">
    <div>{{ open }}</div>
    <div class="available-text">Available</div>
</td>
<td class="experience"></td>
<td class="price"></td>
<td class="misc"><div class="text">-</div></td>