@import "../../styles/index";

.event-summary {
  padding: 15px 10px;
  line-height: 1.4;
  display: flex;
  align-items: center;

  &:nth-child(even) {
    background-color: @background-gray;
  }

  .time {
    .nowrap;
  }

  > div {
    padding: 10px 25px;
    flex-grow: 2;
  }

  .available {
    color: @green;
  }

  .full {
    color: @red;
  }

  .almost-full {
    color: @orange;
  }

  .experience {
    flex-grow: 4;
    line-height: 1;

    .experience-name {
      font-family: @font-maven;
      .ellipsis;
    }

    .event-duration {
      font-size: 0.6em;
      font-weight: 100;
      color: @gray;
    }
  }



  .availability {
    font-size: 1.4em;

    .available-text {
      font-size: 0.4em;
    }
  }


}