@import "../../styles/index";

.seller-summary {
    position: relative;
    height: 200px;

    .background {
        position: absolute;
        background-position-y: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .details {
        color: @white;
        font-size: 50px;
        text-align: center;
        height: 100%;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div {
            width: 33%;
        }
    }
    .logo img {
        max-width: 150px;
    }
    .name {
        font-family: @font-maven;
        font-size: 0.8em;
    }
}