<div class="background" style="background-image: url({{ coverUrl }})"></div>
<div class="details">
  <div class="time text-left"></div>
  <div class="logo"><img src="{{ logoUrl }}"/></div>
  <div class="name text-right">{{ name }}</div>
</div>