<div class="background" style="background-image: url({{ coverUrl }})"></div>
<div class="details">
  <div class="time">2:43:21 PM</div>
  <div class="logo"><img src="{{ logoUrl }}"/></div>
  <div class="name">{{ name }}</div>
</div>